nav{
    display: flex;
    margin-right: 50px;
    align-items: center;
    justify-content: space-between;
}
.btn-primary{
    background-color:#4E47FF;
    font-weight: bold;
    font-size: 8px;
    color: white;
    padding: 12px 30px;
    border-radius: 5px;
    border: none;
}
.nav-title{
    color: #4E47FF;
    font-weight: 100;
    font-size: 30px;
    padding-left: 100px;
}

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-hero {
    padding: 100px 0;
    text-align: center;
}
.use-bg{
    background-image: url(../Assets/Hero-bg.png);
}